<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About</title>
    </head>
    <body TEXT="DarkBlue">
    <center>
        <img src="https://www.duq.edu/assets/prebuilt/img/logo_school.png" class="img-fluid" alt="Duquesne University">
        <h2>To upload a slide request:</h2>
    </center>
    <div class="container">
    <div class="tab">

        <h3> 1. Make sure your slide is complete and all information on it is correct before uploading</h3>
        <h3> 2. Click on 'New Request' from the homepage</h3>
        <h3> 3. Fill out the form as accurately as possible</h3>
        <h3> 4. Note: the start and end dates are the dates the slide will be on display.</h3>
        <h3> 5. Upload file from computer and submit request</h3>
        <h3> 6. Montitor your email for updates</h3>
        </div>
    </div>
        <center><h4> All fields are subject to modification before approval.</h4></center>

    <br>
    <center>
        <a href="/autoload_system/"><button style="color:darkblue; height:50px; width:130px; background-color:white; border-color:darkred"><h3>Go Back Home</h3></button></a>
        <h3> Designed and created by Duquesne's Spring 2019 Software Engineering class.</h3>
    </center>
    </body>
<div class="container">

    <footer>
        <center><br><br></center>
    </footer>
         </div>
<style>
         footer {
        background-color:darkred;
    }
        .tab {
        margin-left:330px;
        }
</style>

</html>