<!-- howdy/templates/about.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About</title>
    </head>
    <body TEXT="DarkBlue">
    <center>
        <h1>Welcome to the about page</h1>
        <img src="https://www.duq.edu/assets/prebuilt/img/logo_school.png" class="img-fluid" alt="Duquesne University">

    <h3>
    This Website was designed by Duquesne's Software Engineering Graduate Computational Mathematics spring 2019 class. It will allow authorized faculty members to submit slide requests for the second and first floor digital displays.

    </h3>
        <a href="/"><button style="color:darkblue; height:50px; width:130px; background-color:white; border-color:darkred"><h3>Go Back Home</h3></button></a>
    </center>
    </body>

</html>