<!-- howdy/templates/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
    </head>
    <div class="container-fluid">
        <div class="container">
	<a href="http://40.113.220.78/autoload_system/admin/"><button style="color:darkblue; height:37px; width:100px; background-color:white; border-color:darkred; margin-left:1100px">Admin Login</button></a>

        </div>
        </div>
    <center>
        <img src="https://www.duq.edu/assets/prebuilt/img/logo_school.png" class="img-fluid" alt="Duquesne University">
    </center>

    <body TEXT="DarkBlue">
    <div class="container">
        <img src="https://www.lg.com/in/images/display/md05845269/gallery/small02.jpg?fbclid=IwAR09OHomb0hSvXMAmmd1HU4sqA4gfVw90BU-_W_AUMYswRObRxjFVE59iV8" height="350" width="520" class="leftimage" alt="Landscape">
        <img src="https://images-na.ssl-images-amazon.com/images/I/31z8dgOCWyL._SY355_.jpg?fbclid=IwAR1clolfOH5ew5u713CWucE74wVSRmOQ4XTspfivd9514VZ0UIpPdSyxT_A" height="300" width="375" class="rightimage" alt="Portrait">

	</div>
    <center>
        <div class="container-fluid">
        <h1>College Hall Slide Presentation Request Page</h1>
               <div class="container">
            <div class="left"><h3>Lobby Monitors</h3></div>
            <div class="right"><h3>Office Monitor</h3></div>
        <h2>First and Second Floor Lobbies</h2>
        <h2>Second Floor Office</h2>


            <div class="btn-group" role="group" aria-label="Basic example">
                <br><br>

  <a href="/autoload_system/about/"><button style="color:darkblue; height:65px; width:130px; background-color:white; border-color:darkred" ><h2>About</h2></button></a>
                <br><br>
                <a href="/autoload_system/request/"><button style="color:darkblue; height:80px; width:130px; background-color:white; border-color:darkred"><h2>New Request</h2></button></a>
</div>
</div>
        </div>
     </center>

    </body>
    <br><br><br><br><br><br><br>
     <div class="container">
    <footer>
        <center><br><br></center>
    </footer>
         </div>
    <style>
    footer {
        background-color:darkred;
    }
.container {
  position: relative;
  text-align: center;
  color: darkblue;
}
.left {
  position: absolute;
  top: 30px;
  left: 200px;
}
.right {
  position: absolute;
  top: 30px;
  right: 200px;
}
.leftimage {
    position: absolute;
    top: 140px;
    left: 5px;
}
.rightimage {
    position: absolute;
    top: 175px;
    right: 80px;
}
</style>

</html>