<!-- howdy/templates/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
    </head>
    <center>
        <img src="https://www.duq.edu/assets/prebuilt/img/logo_school.png" class="img-fluid" alt="Duquesne University">
    <body TEXT="DarkBlue">
        <div class="container-fluid">
        <h1>College Hall Slide Presentation Request Page</h1>
        <h3>First and Second Floor Lobbies</h3>
        <h3>Second Floor Office</h3>
            <div class="btn-group" role="group" aria-label="Basic example">

  <a href="/about/"><button>About</button></a>
  <a href="/request/"><button>New Request</button></a>
</div>
        </div>
    </body>
    </center>
    <style>
.container {
  position: relative;
  text-align: center;
  color: darkblue;
}
.left {
  position: absolute;
  top: 16px;
  left: 400px;
}

.right {
  position: absolute;
  top: 16px;
  right: 400px;
}

.leftimage {
    postition: absolute;
    top: 30px;
    left: 10px;
}

.rightimage {
    position: absolute;
    top: 30px;
    right: 200px;
}
</style>
    <div class="container">
        <img src="https://www.lg.com/in/images/display/md05845269/gallery/small02.jpg?fbclid=IwAR09OHomb0hSvXMAmmd1HU4sqA4gfVw90BU-_W_AUMYswRObRxjFVE59iV8" height="450" width="675" class="leftimage" alt="Landscape">
        <img src="https://images-na.ssl-images-amazon.com/images/I/31z8dgOCWyL._SY355_.jpg?fbclid=IwAR1clolfOH5ew5u713CWucE74wVSRmOQ4XTspfivd9514VZ0UIpPdSyxT_A" height="375" width="375" class="rightimage" alt="Portrait">

        <div class="left"><h3>Landscape</h3></div>
        <div class="right"><h3>Portrait</h3></div>

</div>
</html>