<!-- howdy/templates/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Request</title>
    </head>
    <center>
        <img src="https://www.duq.edu/assets/prebuilt/img/logo_school.png" class="img-fluid" alt="Duquesne University">

    </center>
    <body TEXT="DarkBlue">
    <center>
        <div class="container-fluid">
        <h1>Submit New Slide Request Here!</h1>
        
            <a href="/" class="w3-button w3-border w3-xlarge"><button class="w3-button w3-border w3-xlarge">Go Back Home</button></a>
        </div>
    </center>
    </body>

</html>
