<!-- howdy/templates/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Submitted</title>
    </head>
    <center>
     <img src="https://www.duq.edu/assets/prebuilt/img/logo_school.png" class="img-fluid" alt="Duquesne University">
    </center>
    <body TEXT="DarkBlue">
    <center>
	<h1>Your Submission Has Been Sent!</h1>
	<h2>Montior Your Email For Updates</h2>
        <a href="/autoload_system"><button>Go Back Home</button></a>

        </center>
    </body>

</html>
